                
        <div class="container">
                        <div class="col-lg-12" >
                        <div class="panel panel-primary">
                        <div class="panel-heading" align="center">
                            Formulario estudiante
                        </div>
                        <div class="panel-body">
                          <form method="POST" action="/registrar">
                            <div class="form-grou">
                              <label>Nombre</label>
                               <input class="form-control" type="text" name="Nombre" required="true">
                            </div>
                            <div class="form-grou">
                              <label>Apellido</label>
                               <input class="form-control" type="text" name="Apellido" required="true">
                            </div>
                            <div class="form-grou">
                                <label>Edad</label>
                                <input class="form-control" type="number" name="Edad" required="true">
                            </div>
                            <div class="form-grou">
                              <label>Promedio</label>
                              <input class="form-control" type="text" name="Promedio" required="true">
                            </div>
                            <button type="sumbit" class="btn btn-primary">Enviar</button>
                          </form> 
                        </div>
                    </div>
                </div>  

        </div>
